.main-blog {
   padding: 150px 0;
}
.main-header {
   background-color: var(--primary-color);
}
.main-header__btn {
   border: 2px solid white;
}
.heading {
   font-size: 48px;
   font-weight: 600;
   padding-bottom: 100px;
}
.blog__card {
   height: 550px;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
   margin-bottom: 20px;
   border-radius: 3px;
   overflow: hidden;
}
.blog__heading {
   padding-top: 30px;
}
.blog__link {
   text-decoration: none;
   font-size: 21px;
   font-weight: 500;
   color: #059bce;
   transition: 0.3s;
}
.blog__link:hover{
   color: #F2BE22;
   transition: 0.3s;
}
.wrapper__blog-image {
   width: 100%;
   max-height: 260px;
   aspect-ratio: 4 / 3;
   overflow: hidden;
   transition: 0.4s;
}
.blog-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   cursor: pointer;
   transition: 0.4s;
}
.blog-image:hover{
   transform: scale(1.1);
   transition: 0.4s;
}
.blog-text {
   padding: 50px 0;
   font-size: 18px;
   font-weight: 400;
}
.blog-list {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.blog-aspect {
   list-style: inside;
   font-size: 18px;
   font-weight: 400;
   line-height: 28px;
}
.blog {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 30px;
}
.blog__information {
   display: flex;
   flex-direction: column;
   gap: 15px;
   background-color: white;
   margin: 0 20px;
}
.blog__more {
   max-width: 130px;
   color: #059bce;
   transition: 0.3s;
}
.blog__more:hover{
   color: #F2BE22;
   text-decoration: underline;
   transition: 0.3s;
}
@media(max-width:1023px){
   .heading {
      font-size: 36px;
      padding-bottom: 50px;
   }
}
@media(max-width: 767px){
   .blog__heading {
      font-size: 28px;
      padding-bottom: 25px;
   }
   .blog-text {
      font-size: 16px;
      padding: 25px 0;
   }
   .blog-aspect {
      font-size: 16px;
      line-height: normal;
   }
   .blog__content {
      padding: 0 5vw 100px 5vw;
   }
}