@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito/NunitoSans_10pt-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito/NunitoSans_10pt-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito/NunitoSans_10pt-SemiBold.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito/NunitoSans_10pt-Medium.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito/NunitoSans_10pt-Light.ttf');
    font-weight: lighter;
}

@font-face{
    font-family: NextArt;
    src: url('../fonts/NextArt/NEXT\ ART_Bold.otf');
    font-weight: bold;
}