*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: Nunito;
    font-weight: 400;
}
.overflow {
    overflow: hidden;
}
.block {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2007;
}
.block__active {
    display: flex;
}
.vs__clear  {
    display: none;
}
.vs__selected-options {
    padding: 0px!important;
    white-space: nowrap;
}

:root{
    --primary-color:#1A3E3E;
    --primary-colorTransperent: #1a3e3e63;

    --secondary--color:#F2BE22;



    --whiteActive:rgb(212, 212, 212);
    --whiteTransperent:#ffffff2f; 

    --transitionTime:.3s;
}
html::-webkit-scrollbar,body::-webkit-scrollbar{
    width: 0;
}



/* Container  START*/
.container{
    max-width: calc(1200px + 20vw);
    width: 100%;

    padding: 0 10vw;
    margin: 0 auto;
}
/* Container END */

.main-header__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

/* Main-header START */
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2009;

    width: 100%;

    transition: calc(var(--transitionTime) - 0.1s);
}

.main-header.active {
background-color: var(--primary-color);
}
.main-header__list{
    display: flex;
    gap: 24px;
    align-items: center;
}
.main-header__link{
    font-size: 18px;
    color: white;
    font-weight: lighter;
    white-space: nowrap;

    position: relative;
}
.main-header__link::after {
    content: "";

    background-color: white;

    height: 2px;
    width: 0%;

    border-radius: 2px;
    position: absolute;

    bottom: -2px;
    left: 0;

    transition: var(--transitionTime);
  }
.main-header__link:hover::after {
  width: 100%;
}

.main-header__container{
    display: flex;
    align-items: center;
}
.button__burger-menu {
    display: none;
}
.main-header__item__close {
    display: none;
}
.main-header__item__icon {
    display: none;
}
/* Main-header END */


/* SECTION introduction START */

.introduction {
    position: relative;
    z-index: 2006;
}
.introduction__video-wrapper{
    width: 100%;
    height: 915px;

    position: relative;


    display: flex;
    align-items: flex-end;
    padding-bottom: 82px;
}
.introduction__video{
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 1;
}
.introduction__video-wrapper::after{
    content: "";

    background-color: rgba(5, 88, 60, 0.192);


    height: 100%;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.introduction__container{
    position: relative;
    z-index: 3;
    color: white;
}
.introduction__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.introduction__text{
    font-size: 50px;
    font-family: NextArt;
    font-weight: bold;
}

.introduction__block {
    background-color: var(--whiteTransperent);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    z-index: 2009;
}
.introduction__block__close {
    display: none;
}
.introduction__block__close__acitve {
    display: block;
    z-index: 646464654654;
    position: relative;
}
.introduction__list{
    display: flex;
    gap: 24px;
    width: 100%;
}
.introduction__item{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/* SECTION introduction END */



/* primary-btn START */
.primary-btn{
    border-radius: 4px;
    background-color: var(--primary-color);

    flex: 0 0 auto;

    padding: 12px 24px;
    
    color: white;
    cursor: pointer;
    font-size: 16px;

    border: 2px solid var(--primary-color);

    transition:var(--transitionTime);
}

.primary-btn:hover{
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.primary-btn:active{
    background-color: var(--whiteActive);
}
/* primary-btn END */

.vs__dropdown-toggle, .introduction__btn {
    height: 52px;
}

/* secondary-btn START */
.secondary-btn{
    flex:  0 0 auto;

    border-radius: 4px;
    background-color: transparent;
    padding: 12px 24px;


    border: 2px solid white;

    cursor: pointer;
    font-size: 16px;
    color: white;

    transition:var(--transitionTime);
}

.secondary-btn:hover{
    background-color: white;
    border: 2px solid white;
    color: var(--primary-color);
}
.secondary-btn:active{
    background-color: var(--whiteActive);
}
/* secondary-btn END */
.button__program-menu {
    display: none;
    flex:  0 0 auto;

    border-radius: 4px;
    background-color: transparent;
    padding: 12px 24px;


    border: 2px solid white;

    cursor: pointer;
    font-size: 16px;
    color: white;

    transition:var(--transitionTime);
    width: 172px;
    white-space: nowrap;
}

/* SECTION about-hike START */

.about-hike {
    padding: 100px 0;
    background-color: white;
}

.about-hike__content {
    max-width: calc(1200px + 20vw);
    width: 100%;
    padding: 0 10vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.about-hike__video-demonstration {
    width: 480px;
    height: 526px;
    position: relative;
    flex: 0 0 auto;
}
.about-hike__back-image__wrapper {
    width: 350px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}
.about-hike__video__wrapper {
    max-width: 350px;
    height: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.about-hike__back-image, .about-hike__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.about-hike__information {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about-hike__heading {
    font-size: 24px;
    color: #F2BE22;
    font-family: Nunito;
    font-weight: 400;
}
.about-hike__subheading {
    font-size: 32px;
    font-family: Nunito;
    font-weight: 800;
}
.about-hike__description {
    font-size: 18px;
    font-family: Nunito;
    font-weight: 400;
    max-width: 580px;
    line-height: 27px;
}
.about-hike__button {
    width: 200px;
    height: 52px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    background-color: var(--primary-color);
    font-family: Nunito;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transitionTime);
}
.about-hike__button:hover {
    background-color: white;
    color: var(--primary-color);
    transition: var(--transitionTime);
    border: 1px solid var(--primary-color);
}

/* SECTION about-hike END */

/* SECTION best-programs START */

.best-programs {
    padding: 100px 0;
    background-color: #F3F5F4;
}
.best-programs__content {
    max-width: calc(1200px + 20vw);
    width: 100%;
    padding: 0 10vw;
    gap: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.best-programs__information {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.best-programs__heading {
    font-size: 24px;
    font-weight: 400;
    color: #F2BE22;
    font-family: Nunito;
    font-weight: 400;
}
.best-programs__subheading {
    font-size: 32px;
    font-family: Nunito;
    font-weight: 800;
}
.best-programs__description {
    font-size: 18px;
    font-family: Nunito;
    font-weight: 400;
    max-width: 580px;
    line-height: 27px;
}
.best-programs__advantages {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.best-programs__advantage {
    display: flex;
    align-items: center;
    gap: 16px;
}
.best-programs__definition {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.best-programs__advantage-name {
    font-size: 18px;
    font-family: Nunito;
    font-weight: 800;
}
.best-programs__advantage-description {
    max-width: 514px;
    font-size: 14px;
    font-family: Nunito;
    font-weight: 400;
    line-height: 20px;
}
.best-programs__button {
    background-color: var(--primary-color);
    font-size: 16px;
    font-family: Nunito;
    font-weight: 600;
    color: white;
    width: 236px;
    height: 52px;
    cursor: pointer;
    transition:var(--transitionTime);
}
.best-programs__button:hover {
    color: var(--primary-color);
    background-color: white;
    transition:var(--transitionTime);
    border: 1px solid var(--primary-color);
}
.best-programs-swiper {
    margin-left: 0!important;
    margin-right: 0!important;
}
.swiper-wrapper {
    max-width: 100%!important;
    display: grid!important;
    gap: 10px;
    grid-template-columns: repeat(2,1fr)!important;
}
.swiper-button-next, .swiper-button-prev {
    display: none!important;
}
.swiper-slide {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}
.best-programs__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.swiper-slide:nth-of-type(1) .best-programs__photo{
    border-radius: 0px 50px 0px 50px;
}
.swiper-slide:nth-of-type(2) .best-programs__photo{
    border-radius: 50px 0px 50px 0px;
}
.swiper-slide:nth-of-type(3) .best-programs__photo{
    border-radius: 50px 0px 50px 0px;
}
.swiper-slide:nth-of-type(4) .best-programs__photo{
    border-radius: 0px 50px 0px 50px;
}

/* SECTION best-programs END */

/* SECTION best-destinations START */


.best-destinations {
    padding: 100px 0;
    background-color: white;
}
.best-destinations__content {
    max-width: calc(1200px + 20vw);
    width: 100%;
    padding: 0 10vw;
    gap: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.best-destinations__heading {
    font-size: 24px;
    font-weight: 400;
    color: #F2BE22;
    font-family: Nunito;
    font-weight: 400;
}
.best-destinations__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.best-destinations__subheading {
    font-size: 32px;
    font-family: Nunito;
    font-weight: 800;
}
.best-destinations__destinations {
    display: flex;
    gap: 20px;
}
.best-destinations__destination {
    max-width: 380px;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 32px;
}
.best-destinations__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}
.best-destinations__information {
    display: grid;
    grid-template-rows: 90px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF33;
    height: 90px;
    padding: 20px;
    transition: var(--transitionTime);
    backdrop-filter: blur(2px);
    border-radius: 0 0 32px 32px;
    gap: 10px;
    overflow: hidden;
    cursor: pointer;
}
.best-destinations__wrapper-under-information {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.best-destinations__destination:hover .best-destinations__information{
    height: 100%;
    backdrop-filter: blur(12px);
    border-radius: 32px;
    grid-template-rows: 100px auto;
}
.best-destinations__additional-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.best-destinations__text{
    max-width: 316px;
    max-height: 100%;
    font-family: Nunito;
    font-weight: 400;
    font-size: 16px;
    color: #FDFDFD;
}
.best-destinations__additional-information-button {
    background-color: var(--primary-color);
    color: white;
    width: 176px;
    height: 44px;
    font-family: Nunito;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transitionTime);
}
.best-destinations__additional-information-button:hover {
    color: var(--primary-color);
    background-color: white;
    border: 1px  solid var(--primary-color);
    transition: var(--transitionTime);
}
.best-destinations__under-information__heading {
    color: #FDFDFD;
    font-family: Nunito;
    line-height: 28.8px;
    font-weight: 600;
    font-size: 24px;
}
.best-destinations__under-information__subheading {
    color: #FDFDFD;
    font-family: Nunito;
    line-height: 18px;
    font-weight: 400;
    font-size: 14px;
}
.best-destinations__wrapper-price {
    background-color: #FFFFFF4D;
    width: 86px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.best-destinations__price {
    color: #FDFDFD;
    font-family: Nunito;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
}
.best-destinations__button {
    color: #FDFDFD;
    font-family: Nunito;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 36px 16px 36px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: var(--transitionTime);
    border: 1px solid var(--primary-color);
}
.best-destinations__button:hover {
    color: var(--primary-color);
    background-color: white;
    border: 1px solid var(--primary-color);
    transition: var(--transitionTime);
}
/* SECTION best-destinations END */

/* SECTION photo-report START */

.photo-report {
    padding-bottom: 200px;
}
.photo-report__content {
    max-width: calc(1200px + 20vw);
    width: 100%;
    padding: 0 10vw;
    gap: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.photo-report__heading {
    font-size: 24px;
    font-weight: 400;
    color: #F2BE22;
    font-family: Nunito;
    font-weight: 400;
    text-align: center;
}
.photo-report__subheading {
    font-size: 32px;
    font-family: Nunito;
    font-weight: 800;
}
.photo-report__photos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.photo-report__photos__wrapper {
    display: flex!important;
    flex-direction: column!important;
}
.photo-report__first-teamplate {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
}
.photo-report__second-teamplate {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}
.photo-report-swiper{
    width: 100%;
}
.photo-report__wrapper-photo-one,
 .photo-report__wrapper-photo-two,
  .photo-report__wrapper-photo-three,
    .photo-report__wrapper-photo-four,
    .photo-report__wrapper-photo-five,
    .photo-report__wrapper-photo-six {
    max-width: 100%!important;
    max-height: 250px!important;
}
.photo-report__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.photo-report__button {
    background-color: var(--primary-color);
    padding: 16px 36px 16px 36px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    transition: var(--transitionTime);
}
.photo-report__button:hover {
    background-color: white;
    color: var(--primary-color);
    transition: var(--transitionTime);
}
/* SECTION photo-report END */

/* SECTION newsletter START */

.newsletter {
    padding-bottom: 100px;
}
.newsletter__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    max-width: calc(1200px + 20vw);
    width: 100%;
    padding: 0 10vw;
    margin: 0 auto;
}
.newsletter__container {
    padding: 40px 20px 40px 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 15px 0px #18121E1F;
    border-radius: 6px;
    background-color: #FDFDFD;
    align-items: center;
    gap: 20px;
}
.newsletter__information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.newsletter__heading {
    font-size: 18px;
    color: #F2BE22;
    font-family: Nunito;
    font-weight: 400;
}
.newsletter__wrapper-form {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.newsletter__form {
    display: flex;
    align-items: center;
    gap: 16px;
}
.newsletter__email {
    width: 280px;
    height: 44px;
    background-color: #F3F5F4;
    padding: 0px 16px 0px 16px;
    color: black;
    font-family: Nunito;
    font-weight: lighter;
    font-size: 14px;
    border-radius: 4px;
}
.newsletter__button {
    background-color: var(--primary-color);
    padding: 12px 24px 12px 24px;
    border: 1px solid var(--primary-color);
    color: white;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 600;
    border-radius: 4px;
    transition: var(--transitionTime);
    cursor: pointer;
}
.newsletter__button:hover {
    color: var(--primary-color);
    background-color: white;
    border: 1px solid var(--primary-color);
    transition: var(--transitionTime);
}
.newsletter__agreement, .newsletter__link-agreement {
    font-size: 14px;
    font-family: Nunito;
    font-weight: 600;
    color: black;
    transition: var(--transitionTime);
}
.newsletter__link-agreement:hover {
    color: #F2BE22;
    transition: var(--transitionTime);
}
.newsletter__link-agreement {
    text-decoration: underline;
}
/* SECTION newsletter END */

/* SECTION footer START */

.footer {
    position: relative;
    padding: 100px 0;
    background-color: #1A3E3E;
}
.footer__content {
    max-width: calc(1200px + 20vw);
    width: 100%;
    padding: 0 10vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.newsletter__subheading {
    font-family: Nunito;
    font-weight: 800;
    font-size: 26px;
}
.footer__wrapper-information {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.footer__information {
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.footer__heading {
    font-size: 20px;
    color: #F3F5F4;
    font-family: Nunito;
    font-weight: 700;
}
.footer__description {
    font-size: 14px;
    line-height: 20px;
    font-family: Nunito;
    font-weight: 400;
    color: white;
    max-width: 456px;
}
.footer__wrapper-useful-links {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer__useful-links {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer__gmail-link, .footer__number-link {
    font-size: 14px;
    font-family: Nunito;
    font-weight: 600;
    color: white;
    text-decoration: underline;
}
.footer__social-links {
    display: flex;
    align-items: center;
    gap: 16px;
}
.footer__wrapper-services-list, .footer__wrapper-traveling-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__services-list__heading, .footer__traveling-list__heading {
    font-size: 20px;
    color: #F3F5F4;
    font-family: Nunito;
    font-weight: 700;
}
.footer__services-list, .footer__traveling-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer__services-list__element, .footer__traveling-list__element {
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer__services-list__link, .footer__traveling-list__link {
    font-size: 14px;
    font-family: Nunito;
    font-weight: 400;
    color: white;
}
.footer__gmail-link:hover {
    color:#F2BE22;
}
.footer__number-link:hover {
    color: #F2BE22;
}
.footer__wrapper-social-link:hover > .footer__social-icon path {
    fill: #F2BE22;
}
.footer__services-list__element:hover > .footer__services-list__icon path {
    fill: #F2BE22;
}
.footer__services-list__element:hover > .footer__services-list__link {
    color: #F2BE22;
    text-decoration: underline;
}
.footer__traveling-list__element:hover > .footer__services-list__icon path {
    fill: #F2BE22;
}
.footer__traveling-list__element:hover > .footer__traveling-list__link {
    color: #F2BE22;
    text-decoration: underline;
}
.footer__author {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 66px;
    background-color: black;
    display: flex;
    align-items: center;
}
.footer__auntor-content {
    max-width: calc(1200px + 20vw);
    width: 100%;
    padding: 0 10vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__author-name {
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: Nunito;
}
.footer__data-processing {
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: Nunito;
    text-decoration: underline;
    transition: var(--transitionTime);
}
.footer__data-processing:hover {
    color: #F2BE22;
    transition: var(--transitionTime);
}

/* SECTION footer END */

/* media query 1366px START */


@media(max-width:1365px){
    .vs__selected, .vs__search, .introduction__btn {
        font-size: 14px;
    }
    .introduction__item span {
        font-size: 14px;
    }
    .main-header__link {
        font-size: 14px;
    }
    .main-header__btn, .about-hike__button, .best-programs__button, .best-destinations__button, .photo-report__button, .newsletter__button {
        font-size: 14px;
    }
    .introduction__text {
        font-size: 42px;
    }
    .vs__dropdown-menu {
        overflow: hidden;
    }
    .introduction__block {
        flex-wrap: wrap;
        justify-content: end;
    }
    .introduction__item {
        flex-direction: column-reverse;
    }
    .about-hike__heading, .best-programs__heading, .best-destinations__heading, .photo-report__heading {
        font-size: 20px;
    }
    .about-hike__subheading, .best-programs__subheading, .best-destinations__subheading, .photo-report__subheading {
        font-size: 28px;
    }
    .about-hike__description, .best-programs__description {
        font-size: 16px;
    }
    .best-programs__advantage-name {
        font-size: 16px;
    }
    .about-hike__information, .best-programs__information {
        gap: 25px;
    }
    .best-programs__content {
        flex-direction: column;
    }
    .best-programs__content {
        align-items: normal;
    }
    .swiper-wrapper {
        gap: 20px;
    }
    .newsletter__agreement, .newsletter__link-agreement {
        font-size: 12px;
    }
    .swiper-slide {
        max-width: 100%;
        max-height: 100%;
    }
    .best-destinations__destination:nth-of-type(3){
        display: none;
    }
    .newsletter__button {
        padding: 10px 18px 10px 18px;
    }
    .newsletter__email {
        max-width: 280px;
    }
    .footer__heading, .footer__services-list__heading, .footer__traveling-list__heading {
        font-size: 18px;
    }
    .footer__content {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: start;
    }
}
@media(max-width:1023px){
    .button__burger-menu {
        display: block;
    }
    .main-header__btn {
        display: none;
    }
    .main-header__block {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(300px);
        transition: var(--transitionTime);
    }
    .main-header__block__acitve {
        transform: translateX(0px);
        transition: var(--transitionTime);
    }
    .main-header__nav {
        position: relative;
        padding: 30px 50px;
        background-color: var(--primary-color);
    }
    .main-header__list {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .main-header__item__icon {
        display: block;
    }
    .main-header__item {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .main-header__item__close {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .button__program-menu {
        display: flex;
    }
    .introduction__block {
        display: none;
        background-color: var(--primary-color);
    }
    .introduction__block__active {
        display: flex;
        z-index: 2008;
    }
    .introduction__list {
        flex-direction: column;
    }
    .container, .about-hike__content, .best-programs__content, .best-destinations__content, .photo-report__content, .footer__content {
        padding: 0 5vw;
        overflow: hidden;
    }
    .about-hike__content {
        flex-direction: column-reverse;
        align-items: start;
    }
    .about-hike__back-image__wrapper {
        display: none;
    }
    .about-hike__video-demonstration {
        width: 100%;
        height: 100%;
    }
    .about-hike__video__wrapper {
        position: static;
        max-width: 100%;
        height: 100%;
    }
    .introduction__block__close {
        display: block;
    }
    .newsletter__content {
        background-color: white;
    }
    .newsletter__content {
        padding: 0 5vw 50px 5vw;
    }
    .swiper-wrapper {
        width: 100%;
        height: 100%;
    }
}
@media(max-width:767px){
    .swiper {
        display: block;
        width: 100%!important;
        overflow: hidden!important;
    }
    .swiper-wrapper {
        display: flex!important;
        gap: 0px;
        flex-direction: row!important;
    }
    .best-programs__photo {
        border-radius: 50px!important;
        overflow: hidden!important;
        aspect-ratio: 3/2;
    }
    .swiper-pagination {
        display: flex!important;
        gap: 20px!important;
        justify-content: center!important;
        bottom: var(--swiper-pagination-bottom, 30px)!important;
    }
    .swiper-pagination-bullet {
        background-color: white!important;
        opacity: 1!important;
    }   
    .swiper-pagination-bullet-active {
        background-color: #1A3E3E!important;
    }
    .button__program-menu {
        font-size: 14px;
    }
    .introduction__text {
        font-size: 36px;
    }
    .about-hike__heading, .best-programs__heading, .best-destinations__heading, .photo-report__heading {
        font-size: 16px;
    }
    .about-hike__subheading, .best-programs__subheading, .best-destinations__subheading, .photo-report__subheading {
        font-size: 22px;
    }
    .about-hike__description, .best-programs__description {
        font-size: 14px;
    }
    .best-destinations__under-information__heading {
        font-size: 18px;
    }
    .best-destinations__under-information__subheading {
        font-size: 12px;
    }
    .best-destinations__price {
        font-size: 16px;
    }
    .newsletter__container {
        flex-direction: column;
        align-items: start;
    }
    .newsletter__form {
        flex-wrap: wrap;
    }
    .footer__content {
        padding: 100px 5vw;
    }
    .best-programs__description {
        line-height: 20px;
    }
    .newsletter__content {
        margin-top: 50px;
    }
    .footer__auntor-content {
        flex-wrap: wrap;
    }
    .introduction__text {
        font-size: calc(30px + (42  - 30) * (100vw - 380px) / (768 - 380));
    }
    .about-hike, .best-programs, .best-destinations {
        padding: 50px 0;
    }
    .best-destinations__destination:nth-of-type(2){
        display: none;
    }
    .best-destinations__destination {
        max-width: fit-content;
    }
    .best-destinations__text {
        max-width: fit-content;
    }
    .introduction__text__offline {
        display: none;
    }
    .main-header__block__acitve{
        width: 100%;
        height: 100vh;
        transition: none;
    }
    .main-header__block {
        transition: none;
    }
    .main-header__nav {
        width: 100%;
        height: 100%;
    }
    .main-header__list {
        padding-top: 50px;
    }
    .photo-report__photos__wrapper {
        display: flex;
    }
    .photo-report__photo {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .photo-report__wrapper-photo-one,
     .photo-report__wrapper-photo-two,
      .photo-report__wrapper-photo-three,
       .photo-report__wrapper-photo-four,
        .photo-report__wrapper-photo-five,
         .photo-report__wrapper-photo-six {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-header__link {
        font-size: 20px;
    }
    .introduction__video-wrapper {
        padding-bottom: 120px;
        height: 815px;
    }
    .introduction__content {
        gap: 60px;
    }
}